@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@theme{
  --font-navTitle: "Lobster", sans-serif;
}
.active{
  color: #427baa;
  font-weight: 600;
}
